<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends "main.html" %}

    {% block content %}
    
        <h1>Home template</h1>

        <div>
            {% for room  in rooms %}
                <a href="/room/{{room.id}}">{{ room.id }} -- {{ room.name }}</a> <br>           
            {% endfor %}
        </div>

    {% endblock content %}

    
</body>
</html>